h1 {color:pink;}
*{
    margin: 0px; padding: 0px
}
v1 nav a,ul,li{
    text-decoration: none; 
    list-style-type:none;
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: space-around ;
    align-items: center ;
    align-content: center ;
}
a{
    text-decoration: none;
    color: pink;
    padding:5px;
    font-size: 30px;
}
nav{
    background-color:black;
    height: 50px;
}